.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.footer-text {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.card-width {
    width: 18rem;
}
#container {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 70px;
    margin-bottom: 5rem;
}
.form-container {
    
}